.dance-btn {
  font-size: 14vw;
  width: 20vw;
  height: 20vw;
}

.dance-total {
  font-size: 5em;
}

.dance-btns {
  width: 50%;
}

.count-added {
  background: rgba(0, 62.4, 0, 0.5);
}

.count-removed {
  background: rgba(77, 0, 0, 0.5);
}